.credits{
    margin-top: 90px;
}

.credits__item{
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    margin-bottom: 107px;
    transition: 0.5s linear;
}
.credits__item::before{
    content: "";
    position: absolute;
    background-color: #F5F5F5;
    top: -40px;
    right: -30px;
    left: -22px;
    bottom: -30px;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s;
}
.credits__item:hover::before{
    opacity: 1;
    
}
.credit__item:last-child{
    margin-left: 56px;
}
.credit__title{
    font-size: 36px;
    line-height: 49px;
    color: #202020;
    font-weight: 700;
}
.credit__text{
    font-size: 16px;
    line-height: 27px;
    color: #303030;
    margin: 48px 0 28px;
}
.credit__button{
    background-color:#29282D;
}
.credit__page{
    margin-top: 88px;
}
.page-list, .credit__page-item, .page-num{
    display: inline-block;
    color: inherit;
}
