.glav__wrapper{
    color: #fff;
    background: url(../img/lion-bg.jpg) 0 0 no-repeat, url(../img/bottom-lion.png) right 1847px no-repeat;
    background-size: auto;
    background-color: #29282D;
}