/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

.wrapper{
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
    color: #fff;
    background: url(../img/lion-bg.jpg) 0 0 no-repeat, url(../img/bottom-lion.png) right 1847px no-repeat;
    background-size: auto;
    background-color: #29282D;
}
.container{
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}
.button{
    padding: 17px 38px;
    background-color: #DFB56D;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.4s;
}
.button:hover{
    box-shadow: 0px 8px 35px rgba(223, 181, 109, 0.35);
    background-color: #D3A557;
}
.title{
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
}
/*HEADER*/
.header__inner{
    padding-top: 33px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu{
    margin-left: 90px;
}
.menu ul li{
    display: inline-block;
    margin-right: 54px;
    line-height: 19px;
}
.menu ul li:last-child{
    margin: 0;
}
.menu ul li a{
    color: #fff;
    transition: all 0.1s;
}
.menu ul li a:hover{
     color: #DFB56D;
     text-decoration: underline;
}
.contact{
    margin-left: auto;
    position: relative;
}
.contact__num{
    font-size: 26px;
    color: #fff;
}
.contact__time{
    font-size: 13px;
    line-height: 20px;
    color: #D3A557;
    text-decoration: underline;
    position: absolute;
    right: 0;
}
/*INTRO*/
.intro{
    margin-top: 190px;  
}
.intro__title{
    font-size: 58px;
    font-weight: 700;
    width: 510px;
    line-height: 64px;
}
.intro__tagline{
    font-size: 18px;
    line-height: 20px;
    margin-top: 25px;
    color:#D3A557;
}
.intro__button{
    margin-top: 43px;
}
/*OFFERS*/
.offers{
    margin-top: 176px;
}
.offers__inner{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.offers__item{
    width: 362px;
    height: 449px;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    color: #000;
}
.offer__bg{
    border-radius: 5px;
}
.offer__card{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}
.offer__title{
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    margin-top: 33px;
    padding-left: 22px;
}
.offer__inner{
    display: flex;
    justify-content: space-between;
    padding: 18px 20px 26px 22px;
}
.offer__item:first-child{
    margin-right: 37px;
}
.offer__price{
    font-size: 36px;
    line-height: 49px;
}
.offer__text{
    font-size: 16px;
    line-height: 21px;
    color: #666;
}
.offers__button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 26px;
    background-color: #2B2B2B;
}
.offers__button:hover{
    background-color: #DFB56D;
}

/*NEWS*/
.news{
    margin-top: 127px;
}
.news__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
}
.news__item{
    width: 557px;
    height: 394px;
    background: url(../img/news/phone.jpg) 0 0 no-repeat;
    padding: 252px 69px 47px 31px;
}
.news__item:last-child{
    background: url(../img/news/mountains.jpg) 0 0 no-repeat;
}
.news__date{
    line-height: 21px
}
.news__title{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    margin-top: 12px;
    color: #fff;
}
.news__suptitle{
    font-size: 16px;
    line-height: 21px;
    margin-top: 3px;
}
.news__page{
    margin-top: 57px;
    font-size: 16px;
    line-height: 20px;
    text-align: center; 
}
.news__pagination{
    display: inline-block;
}
.news__page-list, .news__page-item, .news__page-num{
    display: inline-block;
    color: #fff;
}
.news__page-list{
    margin-left: 42px;
}
.news__page-item{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: 700;
    line-height: 32px;
    color: #fff;
    transition: all 0.2s;
}
.news__page-item:hover{
    background-color: #353439;
}
/*ABOUT*/
.about{
    margin: 152px 0 53px;
    height: 587px;
}
.about__inner{
    display: inline-block;
    background-color: #202123;
    width: 785px;
    height: 455px;
    position: absolute;
    left: 354px;
    top: 97px;
    padding: 70px 160px 68px 81px;
}
.about__text{
    margin: 37px 0 71px;
    font-size: 16px;
    line-height: 27px;
}

/*FOOTER*/
.footer__inner{
    padding: 33px 0 33px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.contact__call{
    font-size: 11px;
    line-height: 20px;
    color: rgba(154, 154, 154, 1);
    margin-left: 30px;
}
.social{
    margin-left: 173px;
}
.social__icon{
    margin-right: 10px;
}
.lion__bg{
    position: absolute;
    right: 0;
    bottom: 0;
}
